{% extends 'template-view-wide-left.html' %}
{% load crispy_forms_tags %}

{% block content-left %}
<div class="row">
    <h3>Prédios Disponíveis - {% if campus_nome != "" %} {{ campus_nome }} {% endif %}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>

        <tbody>
        {% for predio in predios %}
            <tr>
                <td>{{ predio.id }} </td>
                <td>{{ predio.nome }}</td>
                <td>{{ predio.descricao }}</td>
                <td><a href="{% url 'campus:view_predio' predio.id %}" class="btn" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-eye"></i></a>
                <a href="{% url 'campus:update_predio' predio.id campus.id %}" class="btn" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'campus:delete_predio' predio.id campus.id %}" class="btn" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-trash"></i></a></td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block content-right %}
<h4>Novo Prédio</h4>
<form method="POST" name="form_predio">
    {% csrf_token %}
    {{form | crispy}}
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}
