{% extends 'template-view-wide-left.html' %}
{% load crispy_forms_tags %}
{% block title %}Reserva Aí{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        {% block content-left %}
        {% endblock %}
    </div>
    <div class="col-4">
        {% block content-right %}
            <form method="POST" name="form_campus">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-success" style="float: right;" type="submit">Cadastrar</button>
            </form>
        {% endblock %}
    </div>
</div>
{% endblock %}

