{% extends 'template-view-wide-left.html' %}
{% load crispy_forms_tags %}

{% block content-left %}
<div class="row">
    <h3>Professores Disponíveis - {% if campus.nome != "" %} {{ campus.nome }} {% endif %}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>

        <tbody>
        {% for prof in professores %}
            <tr>
                <td>{{ prof.id }}</td>
                <td>{{ prof.first_name }}</td>
                <td>{{ prof.email }}</td>
                <td>{{ prof.telefone }}</td>
                <td>
                <a href="{% url 'users:view_professor' prof.id %}" class="btn" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-eye"></i></a>
                <a href="{% url 'users:delete_professor' prof.id %}" class="btn" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block content-right %}
<h4>Novo Professor</h4>
<form method="POST" name="form_professor">
    {% csrf_token %}
    {{form | crispy}}
    <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
{% endblock %}